@font-face {
  font-family: "Mountain-Regular";
  src: url("assets/Mountain-Regular.otf");
}
@font-face {
  font-family: "PingFang SC";
  src: url("assets/PingFang-ExtraLight.ttf");
}

/* content in body */
.content-container {
  display: flex;
  height: 100%;
}

​ .shop-container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

#shop-soon {
  align-self: center;
  font-family: "PingFang SC";
  top: 50vh;
  position: absolute;
}

/* LANDING MOVEMENT */
body.wheel {
  left: 50vw;
}
.star {
  height: 0.7em;
  position: fixed;
  top: 15px;
}
#audio-star {
  display: none;
}
#visual-star {
  display: none;
}
#shop-star {
  display: none;
}
.wheel {
  -moz-animation: cycle 18s linear infinite reverse;
  -webkit-animation: cycle 18s linear infinite reverse;
  animation: cycle 18s linear infinite reverse;
  margin: 0;
  position: relative;
}
.spin {
  -moz-animation: cycle 3s linear infinite;
  -webkit-animation: cycle 3s linear infinite;
  animation: cycle 3s linear infinite;
}
.mainwheel {
  -moz-animation: cycle 18s linear infinite reverse;
  -webkit-animation: cycle 18s linear infinite reverse;
  animation: cycle 18s linear infinite reverse;
  height: 350px;
  width: 350px;
  margin: auto;
  align-self: center;
}
.wheel-container {
  padding-bottom: 10vh;
  padding-right: 10vw;
}

div .a {
  left: 100px;
  top: 20px;
}
div .b {
  left: 300px;
  top: 150px;
}
div .c {
  left: 100px;
  top: 300px;
}
a {
  text-decoration: none;
  color: black;
}
a > .landing-el:hover {
  text-decoration: none;
  color: black;
}

.fa {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  float: left;
  position: absolute;
  -moz-animation: cycle 18s linear infinite;
  -webkit-animation: cycle 18s linear infinite;
  animation: cycle 18s linear infinite;
}
/*
.fa:hover {
  animation-play-state: paused;
} */

@keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.landing-el {
  font-family: "Mountain-Regular";
  font-size: 4em;
  font-weight: lighter;
}

@keyframes circle {
  to {
    transform: rotate(1turn);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
  position: fixed;
}

header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.copyright {
  padding: 1em;
}
.copyright p {
  margin: 0%;
}
.social-links {
  padding: 0em 2em 2em 0em;
  align-self: flex-end;
}
p {
  font-family: "PingFang SC";
}
.video-data {
  height: 240px;
}
iframe {
  width: 40vw;
  height: 40vh;
}
.sc-visual {
  width: 100%;
}

.media-data {
  font-family: "PingFang SC";
  padding-left: 0.7em;
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: space-between;
}
.media-data.video-data {
  height: 35vh;
}
.media-data .title {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
}
.media-data p {
  padding: 0;
  margin: 0;
  font-size: smaller;
}
.media-data hr {
  padding: 0;
  margin-top: 0;
}
.media-data li {
  font-size: 1.4em;
  height: 1.1em;
}
.media-data ol {
  padding-inline-start: 1.6em;
  margin-block-start: 0.5em;
}
#navlinks {
  font-family: "Mountain-Regular";
  font-size: 2em;
  /* display: flex;
  flex-direction: column; */
  align-items: flex-end;
  margin: 4px 1em 15px 1em;
  /* justify-content: space-evenly; */
}
.mobile-category {
  display: none;
}
.mobile-media-links {
  display: none;
}

.media-container {
  /* padding-top: 5vh; */
  /* height: 100vh; */
  height: 100%;
  /* height: fit-content; */
  padding-bottom: 10vh;
  /* align-self: center; */
  /* display: flex;
  width: 100vw; */
  /* align-items: center;
  justify-content: center; */
}
.media-container.audio {
  height: fit-content;
}
.menu-links {
  width: 15vw;
}
.media-content {
  display: flex;
  height: fit-content;
  /* height: 100%; */
  align-items: center;
  /* padding: 1.5em; */
  /* border: 1px solid darkgray; */
  /* margin-right: 15vw; */
  padding-left: 15vw;
  position: fixed;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

.icon {
  height: 1em;
}
.media-links .published {
  display: flex;
}
.published img:hover {
  filter: invert(1);
}
.published img {
  padding-left: 0.2em;
  height: 0.9em;
}
#logo img {
  height: 2.5em;
}
#logo {
  margin-left: 1em;
}

.media-visual > img {
  height: 40vh;
}
a.nav {
}

/**** LIST ***/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/***VIDEO****/
.youtube {
  width: 35vw;
  height: 35vh;
}

/*************************************************************/
/* NAV DROPDOWN STYLING */
/* Fixed sidenav, full height */
.sidenav {
  /* height: 100%;
  width: 200px; */
  /* position: fixed; */
  /* width: 20vw; */
  z-index: 1;
  top: 0;
  padding-left: 1em;
  background-color: #e6e6e6;
  overflow-x: hidden;
  /* padding-top: 20px; */
}
.sidenav p {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: lightgrey;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: lightgrey;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #e6e6e6;
  padding-left: 8px;
}
.dropdown-container a {
  font-size: 1em;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/******************************************************/
/* logo border styling  */
.BorderCorner_wrap {
  text-align: center;
}
.BorderCorner {
  border: 1px solid black;
  display: inline-block;
  margin: 1em auto;
  padding: 1em;
  position: relative;
  width: auto;
}
.BorderCorner img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.BorderCorner::before,
.BorderCorner::after {
  content: "";
  position: absolute;
  background: #e6e6e6;
}

.BorderCorner::before {
  width: calc(100% + 50px + 4px - 90px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.BorderCorner::after {
  height: calc(100% + 50px + 4px - 90px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* NAV LINKS UNDERLINING */
#navlinks > a {
  position: relative;
  text-decoration: none;
  color: black;
}
#navlinks > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#navlinks > a:hover::before {
  visibility: visible;
  width: 100%;
}

/* LOCK */
.invisible {
  display: none;
}
#secret-unlocked {
  height: 20vh;
}
/* SAFARI STYLING  */
/* @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  header {
    padding-bottom: 2em;
  }
  #lock {
    padding: 5px 6px;
    border-width: thin;
    border-radius: 3px;
  }
} */
@media (max-width: 768px) {
  #navlinks {
    display: flex;
    flex-direction: column;
  }
  #navlinks > a:hover::before {
    visibility: hidden;
  }
  .dropdown-container {
    display: none;
  }
  .menu-links {
    /* width: 100vw; */
    display: none;
  }
  .content-container {
    justify-content: center;
    /* height: fit-content; */
    height: 100%;
    position: relative;
    width: 100vw;
    padding-bottom: 10vh;
  }
  .media-content {
    padding: 1em;
    opacity: 1;
    position: relative;
  }
  .media-data {
    display: none;
  }
  .mobile-category {
    padding: 0 1em;
    display: block;
    margin: 0;
    font-size: larger;
  }
  .media-visual {
    width: auto;
    position: relative;
  }
  /* .video {
    padding-top: 15vh;
  } */
  .media-visual > img {
    width: 80vw;
  }
  .mobile-media-links {
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    display: flex;
    position: absolute;
    height: 100%;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
    /* z-index: -500; */
    pointer-events: none;
    cursor: default;
  }
  .fade {
    opacity: 1;
    z-index: 500;
    pointer-events: initial;
    cursor: pointer;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
  }
  .invisible {
    display: none;
  }
  .mobile-media-links img {
    height: 4.5em;
    opacity: 1;
  }
  iframe {
    width: 100%;
    height: 30vh;
  }
  .youtube {
    width: 90vw;
    /* height: auto; */
  }
  body {
    overflow-y: scroll;
    position: absolute;
    margin: 0;
  }
  #home {
    position: fixed;
    margin: 0;
    display: block;
    height: 100vh;
  }
  footer {
    background-color: #e6e6e6;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }
  footer p {
    font-size: small;
  }
}

@media (max-width: 320px) {
  .mobile-media-links img {
    height: 4em;
  }
  .media-content {
    justify-content: center;
  }
  .mobile-category {
    padding: 0 1.5em;
  }
}

@media only screen and (min-width: 1440px) {
  .media-data ol {
    font-size: large;
  }
  p {
    font-size: larger;
  }
  .media-data .title {
    font-size: xx-large;
  }
  #navlinks {
    margin: 1em;
  }
  .mobile-media-links {
    display: none;
  }
  .media-visual > img {
    height: 40vh;
  }
  .youtube {
    width: 35vw;
    height: 35vh;
  }
}
@media only screen and (min-width: 1920px) {
  .media-data ol {
    font-size: x-large;
  }
  p {
    font-size: x-large;
  }
  .media-data .title {
    font-size: xx-large;
  }
  .published a {
    align-self: center;
    padding: 0.1em;
  }
  .mobile-media-links {
    display: none;
  }
}
@media only screen and (min-width: 2560px) {
  .media-data ol {
    font-size: x-large;
  }
  .media-data p {
    font-size: x-large;
  }
  p {
    font-size: x-large;
  }
  .media-data .title {
    font-size: xx-large;
  }
  .published a {
    align-self: center;
    padding: 0.1em;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  header {
    padding-bottom: 2em;
  }
  .media-data .title {
    font-weight: 200;
  }
  .media-data ol {
    margin-left: 0.5em;
  }
  #lock {
    padding: 5px 6px;
    border-width: thin;
    border-radius: 3px;
    background-color: #e6e6e6;
  }
}
