@font-face {
  font-family: "Mountain-Regular";
  src: url("assets/Mountain-Regular.otf");
}
@font-face {
  font-family: "PingFang SC";
  src: url("assets/PingFang-ExtraLight.ttf");
}

/* content in body */
.content-container{
  display: flex;
  height: 100%;
}

/* LANDING MOVEMENT */
body.wheel {
  left: 40vw;
}
.star {
  height: 0.7em;
  position: fixed;
  top: 15px;
}
#audio-star {
  display: none;
}
#visual-star {
  display: none;
}
.wheel {
  -moz-animation: cycle 18s linear infinite reverse;
  -webkit-animation: cycle 18s linear infinite reverse;
  animation: cycle 18s linear infinite reverse;
  height: 300px;
  width: 300px;
  margin: 0;
  position: relative;
  left: 30vw;
  bottom: 10vh;
}
/* #wheel:hover {
  animation-play-state: paused;
} */
div .a {
  left: 100px;
  top: 0px;
}
div .b {
  left: 450px;
  top: 60px;
}
div .c {
  left: 360px;
  top: 0px;
}
a {
  text-decoration: none;
  color: black;
}
a > .landing-el:hover {
  text-decoration: none;
  color: black;
}

.fa {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  float: left;
  position: absolute;
  -moz-animation: cycle 18s linear infinite;
  -webkit-animation: cycle 18s linear infinite;
  animation: cycle 18s linear infinite;
}
/*
.fa:hover {
  animation-play-state: paused;
} */

@keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cycle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.landing-el {
  font-family: "Mountain-Regular";
  font-size: 4em;
  font-weight: lighter;
}

@keyframes circle {
  to {
    transform: rotate(1turn);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.copyright{
  padding: 1em;
}
.copyright p {
  margin: 0%;
}
.social-links{
  padding: 2em;
  align-self: flex-end;
}
p {
  font-family: "PingFang SC";
}
.video-data{
  height: 240px;
}

.media-data {
  font-family: "PingFang SC";
  padding-left: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 40vh; */
}
.media-data h3 {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}
.media-data p {
  padding: 0;
  margin: 0;
  font-size: smaller;
}
.media-data hr {
  padding: 0;
  margin-top: 0;
}
.media-data li{
  font-size: 1.4em;
  height: 1.1em;
}
.media-data ol{
  padding-inline-start: 1.6em;
  margin-block-start: 0.5em;
}
#navlinks {
  font-family: "Mountain-Regular";
  font-size: 2em;
  padding-top: 1em;
  padding-right: 2em;
}

.media-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.media-content {
  display: flex;
  height: fit-content;
  padding: 1.5em;
  border: 1px solid darkgray;
}
.icon {
  height: 1em;
}
.media-links .published {
  display: flex;
}
.published img:hover {
  filter: invert(1)
}
.published img{
  padding-left: .2em;
  height: 0.9em;
}
#logo img {
  height: 3em;
}

.media-visual img {
  height: 40vh;
}
a.nav {
}

/**** LIST ***/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/***VIDEO****/
.youtube {
  width: 426px;
  height: 240px;
}

/*************************************************************/
/* NAV DROPDOWN STYLING */
/* Fixed sidenav, full height */
.sidenav {
  /* height: 100%;
  width: 200px; */
  /* position: fixed; */
  width: 20vw;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  overflow-x: hidden;
  /* padding-top: 20px; */
}
.sidenav p {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: lightgrey;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: lightgrey;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #e6e6e6
  padding-left: 8px;
}
.dropdown-container a {
  font-size: 1em;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/******************************************************/
/* logo border styling  */
.BorderCorner_wrap {
  text-align: center;
}
.BorderCorner {
  border: 1px solid black;
  display: inline-block;
  margin: 25px auto;
  padding: 20px;
  position: relative;
  width: auto;
}
.BorderCorner img {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.BorderCorner::before,
.BorderCorner::after {
  content: "";
  position: absolute;
  background: #e6e6e6;
}

.BorderCorner::before {
  width: calc(100% + 50px + 4px - 90px);
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.BorderCorner::after {
  height: calc(100% + 50px + 4px - 90px);
  width: calc(100% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* NAV LINKS UNDERLINING */
#navlinks > a {
  position: relative;
  text-decoration: none;
  color: black;
}
#navlinks > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#navlinks > a:hover::before {
  visibility: visible;
  width: 100%;
}

